@using MediaList.Data.Models
@model Manga
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

<h1>Create</h1>
@using (Html.BeginForm())
{
  @Html.AntiForgeryToken()

  <div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
      <h2>
        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
      </h2>
      <div class="col-md-10">
        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
      </div>
    </div>

    <div class="mt-2">
      <input type="submit" value="Save" class="btn btn-primary" />
      <a asp-action="" class="btn btn-primary">Back to List</a>
    </div>
  </div>
}